
/*ESTILOS DE LA PORTADA COMPLETA*/
.banner {

    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

.banner__img {

    
    background-image: url('/images/fondo.jpg');
    background-size: cover;
    background-position: center center;
}

/*ESTILOS DEL SUBTITULO*/

.banner__titulo {

    font-size: 20px;
    margin-top: 155px;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px rgb(11, 211, 238);
}

.banner__txt {

    display: none;

}

/*ESTILOS DE EL CONTENTEDOR QUE TIENE EL TITULO Y SUBTITULO*/

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
   
}


/*-----------ESTILOS RESPONSIVE WEB DESIGN*/

@media(min-width:480px) {


    .banner__titulo {

        font-size: 25px;
        margin-top: 125px;

        
    }

    .banner__txt {

        display: block;
        font-size: 15px;
        text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px rgb(11, 211, 238);
    }

/*----------------------------------------------------*/
    @media(min-width:768px) {

        .banner__titulo {

            font-size: 46px;
            
            
        }
    
        .banner__txt {
    
           
            font-size: 22px;
        }
       
         
        
    }

    /*------------------------------------------------*/
    @media(min-width:1024px) {


    
        .banner__titulo {

            font-size: 55px;
            margin-top: -50px;
            color: rgb(14, 6, 6); 

           
        }
    
        .banner__txt {
    
           padding-top: 25px;
            font-size: 34px;
            color: rgb(14, 6, 6); 
        }


    }

    @media(min-width:1680px) { 

   
        .banner__titulo {

            font-size: 68px;
            
            
        }
    
        .banner__txt {
    
           
            font-size: 55px;
        }
    
    }














}


