
/*ESTILOS DE LA PORTADA COMPLETA*/
.banner {

    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

/*ESTILOS DEL SUBTITULO*/

.banner__titulo {

    font-size: 25px;
    margin-top: 60px;
}

.banner__txt {

    display: none;
}

/*ESTILOS DE EL CONTENTEDOR QUE TIENE EL TITULO Y SUBTITULO*/

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
   
}


/*-----------ESTILOS RESPONSIVE WEB DESIGN*/

@media(min-width:480px) {


    .banner__titulo {

        font-size: 25px;
        margin-top: 105px;
        
    }

    .banner__txt {

        display: block;
        font-size: 15px;
    }

/*----------------------------------------------------*/
    @media(min-width:768px) {

        .banner__titulo {

            font-size: 46px;
            
            
        }
    
        .banner__txt {
    
           
            font-size: 22px;
        }
       
         
        
    }

    /*------------------------------------------------*/
    @media(min-width:1024px) {



        .banner__titulo {

            font-size: 50px;
            margin-top: -109px;
            
            
        }
    
        .banner__txt {
    
           
            font-size: 24px;
        }


    }

    @media(min-width:1680px) { 

   
        .banner__titulo {

            font-size: 68px;
            
            
        }
    
        .banner__txt {
    
           
            font-size: 55px;
        }
    
    }














}


