
/*ESTILOS DE LA PORTADA COMPLETA*/
.banner {

    margin-top: -60px;
    position: relative;
    z-index: -1000;
    margin-bottom: 20px;
}

/*ESTILOS DEL SUBTITULO*/
.banner__txt {

    display: none;
}

/*ESTILOS DE EL CONTENTEDOR QUE TIENE EL TITULO Y SUBTITULO*/

.banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    color: #fff;
    text-align: center;
   
}

