.footer {

    background: rgba(51, 51, 51, 0.747);
    color: #fff;
    padding: 10px;
    text-align: center;
   
}


.footer .social [class^="icon-"] {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    background: rgba(241, 212, 212, 0.281);
    margin: 0 5px;
    border-radius: 8px;
    width: 30px;
    height: 30px;
    line-height: 22px;
    
}

.footer .social [class^="icon-"]:hover {

    background:rgba(60, 179, 247, 0.589);

}

.footer-copy  {

    text-decoration: none;
    color: #fff;
    background: rgba(241, 212, 212, 0.281);
   
    
}

.footer-copy:hover  {

    background: rgba(60, 179, 247, 0.589);
}
 
.copy {

    font-size: 12px;
}

/*-----------ESTILOS RESPONSIVE WEB DESIGN*/

/*----------------------------------------------------*/
@media(min-width:768px) {


    .footer .social [class^="icon-"] {
    
        font-size: 34px;
        padding: 5px;
        width: 55px;
        height: 44px;
    }
    
    .copy {

        font-size: 21px;
    }

    .footer {    
        padding: 25px;  
    
}

}
/*-------------------------------------------------*/
@media(min-width:1024px) {

    .footer .social [class^="icon-"] {
    
        font-size: 30px;
        width: 50px;
        height: 46px;
    }

    .copy {

        font-size: 12px;
        
        
    }



}