
.info__columna {

    background: rgb(60, 178, 247);
    color: #fff;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 18px;
}

.info__img {

    border-radius: 10px;
}

.info__txt {

   text-align: justify;
   
}


/*ESTILOS DE INFO DE LOS PRODUCTOS*/

.section__titulo {
    text-align: center;
    font-size: 40px;
    color: rgb(60, 178, 247);
    margin-bottom: 8px;
    text-shadow: 1px 2px 2px black, 0 0 25px blue, 0 0 5px blue;
   
}

.section__subtitle {
    opacity: 1;
    font-size: 22px;
    text-align: center;
    margin-bottom: 12px;
    color: rgb(60, 178, 247);
  
}

.produ__column { 
    position: relative;
    margin-bottom: 25px;
}

.produ__description {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.623);
    width: 58%;
    height: 100%;
    
   
    
}

.produ__titulo {
    font-size: 15px;
    padding: 0 10px;
    margin: 5px 0;
}

.produ__txt {

    padding: 0 10px;
    text-align: justify;
    font-size: 11px;
    
 }


/*-----------ESTILOS RESPONSIVE WEB DESIGN*/

@media(min-width:480px) {

 .info__titulo {

        font-size: 20px;
     }


.info__txt {

    font-size: 15px;
   
}
.produ__titulo {

        font-size: 33px;
        padding: 0 10px;
        margin-top: 22px;
    }
    
.produ__txt {
    
        padding: 3px 15px;
        text-align: justify;
        font-size: 20px;
        
     }
}


/*----------------------------------------------------*/
@media(min-width:768px) {

    .info {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
     
    }

    .info__columna {

        width: 48%;
       
        
    }


    
 .info__titulo {

    font-size: 25px;
 }


.info__txt {

font-size: 15px;

}

/*--------PRODUCTOS--------------*/

.contenedor {

    margin-bottom: 90px;
}
.productos {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
  
}

.produ__column {
    width: 48%;
    height: 35vh;
    margin-top: 15px;
    
}
  

.section__titulo {
        
   
    font-size: 30px;
   

   
}

.section__subtitle {
    
    font-size: 25px;
    
}

.produ__description{

    width: 65%;
    height: 37vh;
}

.produ__titulo {

    font-size: 20px;
   
   
}

.produ__txt {

   
    font-size: 15px;
    
 }
   
    
}

/*------------------------------------------*/
@media(min-width:1024px) {


 
    .info__columna {

        width: 30%;
     
        
    }

    .produ__column {
        width: 30%;
        height: 39vh;
    }

    .produ__description{

        width: 75%;
        height: 42vh;
    }

    .produ__titulo {

        font-size: 35px;
       
       
    }
    
    .produ__txt {
    
       
        font-size: 15px;
        
     }

     .section__titulo {
        
   
        font-size: 40px;
        padding: 15px;

       
    }
    
    .section__subtitle {
        
        font-size: 20px;
        margin-bottom: 20px;
        
    }


}

@media(min-width:1680px) { 

    .info__columna {

        width: 16%;
     
        
    }
    .produ__column {
        width: 16%;
        height: 45vh;
    }

}

